(
A,
Agrave,
B,
C,
D,
E,
Eacute,
Egrave,
F,
G,
H,
I,
Iacute,
Igrave,
J,
K,
L,
M,
N,
O,
Oacute,
Ograve,
P,
Q,
R,
S,
T,
U,
Uacute,
Ugrave,
V,
W,
X,
Y,
Z,
L.ss01,
V.ss01,
X.ss01,
L_L,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
space,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
question,
asterisk,
asterism,
numbersign,
slash,
backslash,
asterisk.ss01,
hyphen,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
quotesingle,
ampersand,
ampersand.ss01,
euro,
plus,
minus,
equal,
percent,
arrowright,
arrowleft,
arrowright.ss01,
arrowleft.ss01,
grave,
acute
)